# folders
artifacts/
build/
cache/
coverage/
dist/
lib/
node_modules/
typechain/
contracts/mocks/
contracts/test/
docs/
_tmp/

# files
coverage.json
package.json

contracts/authorization/Authorization.sol
